@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #D4EBF8;
  --primary-dark: #1F509A;
  --secondary: #0A3981;
  --accent: #E38E49;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
